<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>新建 - napkin</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="/favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/plugins/prism/prism.css">
    <link rel="stylesheet" href="/static/plugins/elegant_font/css/style.css">
    
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/static/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head> 

<body class="body-green">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <div class="branding">
                    <h1 class="logo">
                        <a href="/wiki/">
                            <span aria-hidden="true" class="icon_documents_alt icon"></span>
                            <span class="text-highlight">Napkin</span><span class="text-bold">wiki</span>
                        </a>
                    </h1>
                </div><!--//branding-->
                <ol class="breadcrumb">
                    <li><a href="/wiki/">首页</a></li>
                    <li class="active"><a target="_blank" href="/wiki/post/">新建</a></li>
                </ol>
            </div><!--//container-->
        </header><!--//header-->


        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h5 class="doc-title"><i class="icon fa fa-paper-plane"></i> 新建</h5>
                </div><!--//doc-header-->


                <div class="doc-body">
                    <div class="doc-content">
                        <div class="content-inner">




                            <form id="form_salt_cmd_run" role="form" action="/wiki/api/post" method="POST">

                                <div class="form-group">
                                    <label>标题</label>
                                    <input class="form-control" id="page_title" name="page_title" placeholder="page title">
                                </div>

                                <div class="form-group">
                                    <label>Keywords</label>
                                    <input class="form-control" id="page_keywords" name="page_keywords" placeholder="page keywords">
                                </div>

                                <div class="form-group">
                                    <label>等级</label>
                                    <input class="form-control" id="page_level" name="page_level" placeholder="page level" value="0">
                                </div>

                                <div class="form-group">
                                    <label>正文</label>
                                    <textarea class="form-control" rows="30" id="page_content" name="page_content"></textarea>
                                </div>

                                <button type="summit" id="bt_salt_cmd_run" class="btn btn-sm btn-success">提交</button>
                                <!--<button type="button" id="bt_salt_cmd_run" class="btn btn-sm btn-success">提交</button>-->
                                <!--<a href="javascript:js_salt_cmd_run()" class="btn btn-sm btn-success" role="button">RUN</a>-->

                            </form>





                        </div><!--//content-inner-->
                    </div><!--//doc-content-->


                    <div class="doc-sidebar hidden-xs">
                        <nav id="doc-nav">
                            
                        </nav>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->

    </div><!--//page-wrapper-->
    
    <footer id="footer" class="footer text-center">
        <div class="container">
            <small class="copyright">C napkin team <i class="fa fa-heart"></i> by <a href="http://hihuron.com" targe="_blank">huron.com</a></small>
            
        </div><!--//container-->
    </footer><!--//footer-->
    
     
    <!-- Main Javascript -->          
    <script type="text/javascript" src="/static/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="/static/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>                                                                
    <script type="text/javascript" src="/static/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    
</body>
</html> 

